@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');

body {
    font-family: lato, sans-serif;
}

/* navigation */

li {
    list-style-type: none;
}

#nav-list li {
    float: right;
    margin-right: 30px;
}